@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />


<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/Citizen/Index">Citizens</a></li>
		<li><a href="/Staff/Index">Staff</a></li>
		<li><a href="/Reports/Index">Reports</a></li>
		<li><a href="/Service/Index">Service</a></li>
	</ul>
</nav>
<div class="homePage">
	<div class="Page">
		<h1>Municipality of South Africa</h1>
		<p>
			This website is used to make South Africa a better place for everyone. 
		</p>
		<p>
			Add, replace, edit and remove data as you please.
		</p>
		
	</div>
</div>